@import "variables";
@import "animaciones";

.seccion_nosotros {
    padding: 80px 0 320px 0px;
    .titulo  {
        background-color: #00BBF0;
        padding: 110px 0 130px 50px;
        
    }
}
.titulo h2 {
    text-align: left;
    color: white;
    margin-left: 5%;
    // margin: 47px 0px 0px 110px;
}
.textoprincipal{
    text-align: left;
    padding-left: 15%;
    padding-right: 15%;
    .oscuro {
        font-weight: bold;
        margin-top: 5%;
        color: $colortitulos;
    }
}
.misionyvision {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    img {
        width: 400px;
    }
}
.autoridades {
    padding-top: 6%;
   .personal {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        img {
            width: 350px;
            padding: 20px 20px;
        }
    }
}

